@page
@using BlogSpot.Web.Pages.Posts
@using BlogSpot.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<BlogSpotResource> L
@section scripts 
{
	<abp-script src="/Pages/Posts/Index.js" />
}

<abp-card>
    <abp-card-header>
        <h2>@L["Posts"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="PostsTable"></abp-table>
    </abp-card-body>
</abp-card>